__pycache__
*.dat
*.png
*.out
*.xmf
amr_*
Backtrace*
job.target
flashx
unitTest*
core*
__pycache__
*.ipynb_checkpoints
config.sh
software/codellama/Codellama
boxmem
*jobnode.archive*
*.tar.gz
!tests/MainArchive/multiphase.simulations/2023-09-15.tar.gz
!tests/MainArchive/multiphase.simulations/2023-09-15_8.tar.gz
!software/flashx
